html 
    head 
        title players 
        style 
         include style.css
    body 
        div(class='nav')
            div 
                h1 Royal Challengers Bangalore Team 
            div 
                form(action="/logout" method='post') 
                    button(type='submit') logout
        ul 
            each player in players 
                div(class='box')
                    a(href=`players/playerDetails/${player.name}`)
                        li 
                            img(src=player.image)
                        h3= player.name
                        li= player.playingrole
                        form(method="POST", action=`/players/${player.id}?_method=DELETE`)
                            button(type='submit') delete player

